body {
	text-align: center;
	padding: 5rem;
	background: #0D0208;
	color: #00FF41;
	font-family:monospace;
}



.left{grid-area:left;border: 1px solid #008F11;}

.middle{grid-area:middle;border: 1px solid #008F11}

.right{grid-area:right;border: 1px solid #008F11}

#grid{
	margin: 5rem;
	display: grid;
	grid-template-areas: 'left middle right';

}
@media only screen and (max-width: 900px) {
 #grid{margin:0px;
 	display: inherit;
 	overflow-wrap: anywhere;
 }
}

ul,li {
	list-style: square;
	margin: 0px;
	text-align: left;
	font-size: 1.2em;
}
a {color: #00FF41; text-decoration: none;}

li {margin-bottom:20px;}

label{
	font-size: 20px;	
	border-bottom: 1px #00FF41 solid;
	
	}

.label {text-align: center;}

